<!--
File: home.html
Project: mix-test
File Created: Sunday, 3rd February 2019 11:06:24 pm
Author: Temitayo Bodunrin (temitayo@brandnaware.com)
-----
Last Modified: Sunday, 3rd February 2019 11:06:24 pm
Modified By: Temitayo Bodunrin (temitayo@brandnaware.com)
-----
Copyright 2019, Brandnaware Nigeria
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Single Page App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div id="root"></div>

    <script src="/js/main.js"></script>
</body>

</html>